/* ------------------- 
        RESETS
 ------------------- */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8D5D0;
    font-family: 'Montserrat', sans-serif;
}



/* ------------------- 
    NAVIGATION BAR
 ------------------- */
header {
    position: fixed;
    top: 0; 
    width: 100%;
    font-size: 32px;
    background-color: #FEEDE8;
    z-index: 1;
}

.main-content {
    padding-top: 200px;
    margin-top: 100px; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 50px;
    color: #7D0302;
    text-decoration: none;
    transition: all 0.5s ease;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid #FEEDE8;
}


nav ul li.active a {
    color: black;
    background-color: #D8D5D0;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 4px solid #D8D5D0;
    border-top: 4px solid black;
}

nav ul li:not(.active) a:hover {
    color: #FFFFFF;
    background-color: #85674B;
    border-left: 1px solid #3D3A38;
    border-top: 4px solid #85674B;
}

nav ul li:not(.active):first-child a:hover,
nav ul li:not(.active):nth-child(2) a:hover,
nav ul li:not(.active):nth-child(3) a:hover,
nav ul li:not(.active):nth-child(4) a:hover,
nav ul li:not(.active):last-child a:hover {
    color: #FFFFFF;
    background-color: #85674B;
    border-top: 4px solid #85674B;
}



/* ------------------- 
        FOOTER
------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 150px;
    overflow: auto; 
    background-color: #FEEDE8;
    border-top: 4px solid black;
    padding: 10px;
    z-index: 2;
    margin-top: 10px;
}

.footer-table {
    width: 100%;
    border-collapse: collapse;
}

.footer-table td {
    padding: 10px;
    color: #7D0302;
    background-color: transparent;
    border: none;
}

.contact-title,
.quick-links {
    font-size: 27px;
}

.contact-info, 
.footer-link {
    font-size: 20px;
}

.footer-link {
    text-decoration: none;
    color: #7D0302;
    transition: all 0.3s ease;
}

.footer-table td.quick-links:hover .footer-link {
    color: black;
    cursor: pointer;
}

/* ------------------- 
      SOME DESIGNS
 ------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #FEEDE8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #424547;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    display: none;
}




/* ------------------- 
      MEDIA QUERIES
------------------- */

    /* -- FOR NAVBAR --  */
    @media only screen and (max-width: 1200px) {
        nav ul li a {
            padding: 15px;
        }
    }

    @media only screen and (max-width: 992px) {
        nav ul li a {
            padding: 10px;
        }
    }

    @media only screen and (max-width: 768px) {
        header {
            font-size: 24px;
        }
    }

    @media only screen and (max-width: 576px) {
        header {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        nav ul {
            flex-direction: column;
        }

        nav ul li {
            text-align: left;
        }
    }



    /* -- FOR FOOTER -- */
    @media only screen and (max-width: 1200px) {
        .footer-content {
            font-size: 18px;
            text-align: center;
        }
        
        .footer-table td {
            text-align: center;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .footer-content {
            font-size: 16px;
            text-align: center;
        }
    
        .footer-table td {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    
        .contact-title,
        .quick-links {
            font-size: 20px;
        }
    
        .contact-info,
        .footer-link {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 576px) {
        .footer-content {
            font-size: 14px;
            display: block;
            text-align: center;
        }
    
        .footer-table td {
            padding: 10px;
            text-align: center;
        }
    }
