body {
    font-family: 'Montserrat', sans-serif;
    background-color: #D8D5D0;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-containers {
    margin-top: 200px;
    margin-left: 260px;
    display: flex;
    justify-content: space-between;
    width: 50%; /* Adjust the width as needed */
    margin-bottom: 20px; /* Add margin between signup containers and signup button */
}

/* Add the margin to create space between signup containers */
.signup-container {
    margin-right: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the signup button vertically */
    width: 100%; /* Make sure the buttons span the entire width */
}

.signup-btn {
    width: 200px;
    height: 60px;
    background-color: #663f1b;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #482b12;
    transform: scale(1.08);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
    width: 500px;
}

label {
    color: black;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    align-self: flex-start;
}

/* Adjust the styling for the select element */
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 16px; /* Adjust the font size for consistency */
    appearance: none; /* Remove default arrow styling in some browsers */
}

select:focus {
    background-color: #ddd;
    outline: none;
}
