body {
    font-family: 'Montserrat', sans-serif;
    background-color: #D8D5D0;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 300px; 
}

.signup-containers {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-bottom: 20px; 
}

.signup-container,
.signup2-container {
    width: 550px; 
    padding: 20px;
    background-color: #D8D5D0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-btn {
    width: 200px;
    height: 60px;
    background-color: #663f1b;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 55px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #482b12;
    transform: scale(1.08);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

label {
    color: black;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    align-self: flex-start;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}
